.card-top {
  text-align: center;
  background-color: var(--primary-color);
  background-image: url(/assets/images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  padding: 93px 24px;
  margin-bottom: 181px;
}
.card-main {
  text-align: center;
  background-color: var(--primary-color);
  background-image: url(/assets/images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;
  padding: 72px 24px;
  margin-bottom: 140px;
}
