.card-top{
    text-align: center;
    background-color: var(--primary-color);
    background-image: url(/assets/images/bg-pattern-intro-right-mobile.svg), url(/assets/images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    background-position: right 350px, 0 0;
    padding: 93px 24px ;
}