@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;

.icon-menu {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 10;
  @include responsive(desktop) {
    display: none;
  }
}
.menu {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 40px;
  letter-spacing: 1.36px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  top: 80px;
  right: 0;
  height: 667px;
  width: 100vw;
  padding: 40px 24px 0;
  background-color: var(--neutral-color);
  background-image: url(/assets/images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  color: var(--text-color-light);
  translate: 100%;
  transition: translate 0.5s;

  &--show {
    translate: 0;
  }
  &__item {
    width: 100%;
    @include responsive(desktop) {
      width: auto;
    }
  }
  &__link {
    font-size: 1.125rem;
    line-height: 24px;

    &--border {
      display: inline-block;
      width: 100%;
      padding: 9px 0 7px;
      border: 1px solid white;
    }
    @include hover {
      color: var(--primary-color);
    }
  }
  @include responsive(desktop) {
    translate: 0;
    flex-direction: row;
    gap: 2.5rem;
    height: auto;
    padding: 0;
    top: 94px;
    right: 165px;
  }
}
.nav {
  @include responsive(desktop) {
    margin-left: auto;
  }
}

.top-bar {
  position: relative;
  padding: 31px 0 31px 24px;
}
