@use 'base/normalize.scss';
@use 'base/initial-reset.scss';
@use 'config/variables.scss';
@use 'blocks/body.scss';
@use 'blocks/header.scss';
@use 'blocks/main.scss';
@use 'blocks/buttons.scss';
@use 'blocks/texts.scss';
@use 'blocks/titles.scss';
@use 'blocks/menu.scss';
@use 'blocks/social-networks.scss';
@use 'blocks/card.scss';
